<ul class="sidebar-nav">
  <li><a class="text-3xl" href="/">Home</a></li>
  <li><a class="text-xl" href="/inventory/items">All Items</a></li>
  <li><a class="text-xl" href="/inventory/categories">All Categories</a></li>
  <hr class="border-blue-grey-400 dark:border-blue-grey-400 m-2" />
  <li><a class="text-xl" href="/inventory/items/create">Add Item</a></li>
  <li>
    <a class="text-xl" href="/inventory/categories/create">Add Category</a>
  </li>
</ul>
