<%- contentFor('body') %>
<h1 class="text-xl"><%= title %></h1>
<form
  action="/inventory/categories/create"
  method="post"
  class="p-6 m-4 space-y-4"
>
  <div>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="Category name here, 3-100 characters"
      required
      minlength="3"
      maxlength="100"
      class="p-2 m-2 border rounded w-full bg-blue-grey-500 dark:bg-blue-grey-900"
    />
  </div>
  <div>
    <textarea
      id="description"
      name="description"
      placeholder="Category description here, 3-1000 characters"
      required
      minlength="3"
      maxlength="1000"
      class="p-2 m-2 border rounded w-full h-32 bg-blue-grey-500 dark:bg-blue-grey-900"
    ></textarea>
  </div>
  <div class="flex justify-center w-full">
    <button
      type="submit"
      class="text-xl font-bold px-12 py-4 m-2 bg-yellow-vivid-500 text-blue-grey-900 rounded-lg border-2 hover:bg-yellow-vivid-600 shadow"
    >
      Done
    </button>
  </div>
</form>
