<%- contentFor('body') %>
<h1 class="text-5xl pt-40">
  Welcome to the HeroMart Inventory Management System
</h1>
<h2 class="text-xl font-light italic tracking-wide pt-4">
  Smart Heroes Shop HeroMart
</h2>
<h3 class="pt-10">Please select an option from the sidebar to begin</h3>
