<!doctype html>
<html lang="en" class="h-full">
  <head>
    <%- include('partials/head'); -%>
  </head>
  <body
    class="flex flex-col h-full bg-blue-grey-050 dark:bg-blue-grey-700 text-blue-grey-700 dark:text-blue-grey-050"
  >
    <div class="flex flex-grow h-full">
      <div class="w-52 px-4 py-6 bg-blue-grey-100 dark:bg-blue-grey-800">
        <%-include('partials/sidebar');-%>
      </div>
      <div class="flex-1 px-4 py-6"><%- body %></div>
    </div>
  </body>
  <footer
    class="flex justify-center items-center mt-auto bg-blue-grey-700 dark:bg-blue-grey-900 text-blue-grey-500 dark:text-blue-grey-600"
  >
    <%- include('partials/footer'); -%>
  </footer>
</html>
